# TODO: Populate with your API keys and environment variables

OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
DEEPSEEK_API_KEY=
GROQ_API_KEY=
PUSHOVER_USER=
PUSHOVER_TOKEN=
SENDGRID_API_KEY=
BRAVE_API_KEY=
POLYGON_API_KEY=
